.user-page {
  padding: 20px;
  min-height: 100vh;
}

.quiz-link {
  background-color: white;
  font-size: large;
}

.quiz-info {
  align-items: center;
  padding-bottom: 50px;
}

ul {
  padding: 0;
  margin: 0;
}
