.user-page {
  padding: 20px;
  min-height: 100vh;
}

.quiz-link {
  background-color: white;
  padding: 10px;
  font-size: large;
  display: flex;
}

.quiz-info {
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
}
